**/.*
**/test-*
**/*.db

bower.json
Gruntfile.*
lib/*-chrome.js
README.md

components
bower_components
node_modules
sources
tests
tasks
out

test_result/
coverages/
lib-cov/
sources-cov/

tern/

/test_*
